{% extends "layout.html" %}
{% block content %}
    
   <!--  <button type="button" class="btn btn-success">Trade</button><br><br> -->
    <h5>Energy Earnings Call Sentiment Signals</h5>

    <div class="grid">

     {% for en in ens %}
     <div class="grid-item"><a href=#{{ loop.index }}>{{en}}</a></div>
     
           
     {% endfor %}
    </div>
    
        <div class=container1>
        {% for en in ens %}
        <div id={{ loop.index }}><br><br><br>
        <h5>Earnings Call Signals: {{en}} </h5>
        <img src="\static\data\energy\{{en}}_positive.png" alt="Chart" width=100% >
        <img src="\static\data\energy\{{en}}_negative.png" alt="Chart" width=100% >
         </div>
        {% endfor %}
         
         </div>
{% endblock content %}



















































