
{% extends "layout.html" %}





{% block content %}

<button type="button" class="btn btn-success">Trade</button>

<h3> Negative Sentiments of All Earnings Calls</h3>
<img src="static/data/other/allnegative.png" alt="Chart"  width=100%>
<br>
<h3> Positive Sentiments of All Earnings Calls</h3>
<img src="static/data/other/allpositive.png" alt="Chart" width=100%>
<br>
<h3> Neutral Sentiments of All Earnings Calls</h3>
<img src="static/data/other/allneutral.png" alt="Chart" width=100%>
<br>
<h3> Polarity Sentiments of All Earnings Calls</h3>
<img src="static/data/other/allpolarity.png" alt="Chart" width=100%>
<h3> Subjectivity Sentiments of All Earnings Calls</h3>
<img src="static/data/other/allsubjectivity.png" alt="Chart" width=100%>



    
  
      
{% endblock content %}
