{% extends "layout.html" %}
{% block content %}
    <h4>Consolidated Trade Signals By Tickers</h4>
    
    <button type="button" class="btn btn-success">Trade</button><br><br>


    <div class="col-lg-3 col-sm-6">
      <form class="form-inline" action="{{ url_for('home') }}" method="post"> 
        <div class="form-group">
            <select class="form-control" name="ticker">
                {% for symbol in symbols %}
                    <option value="{{ symbol }}">{{ symbol }}</option>
                {% endfor %}
            </select>  
                <button class="btn btn-success">View Signals for the Choosen Ticker</button>   
        </div>  
      </form>
    </div> 



    <!-- <form action="{{ url_for('home') }}" method="post">
        <input type="text" name="ticker" placeholder="Enter The Ticker">
        <button>View Signals</button>

    </form> -->
    <br>



    <div class=container2>
    <div class="row">
     {% for decision in decisions %}
     <div class="col-lg-3 col-sm-6">
               
                <div><a href=#{{ loop.index }}>{{decision}}</a></div>
            </div>
           
     {% endfor %}
     </div>
     </div>
    
        <div class=container1>
        {% for decision in decisions %}
        <div id={{ loop.index }}><br><br><br>

        {% if ticker %} 
            {% if decision=='AI Signals' %} 
            <h3>{{ticker}} : {{decision}} </h3>     
            <img src="\static\data\ml\1D\{{ticker}}.png" alt="Chart" width=100% >
            <img src="\static\data\ml\1DP\{{ticker}}.png" alt="Chart" width=100% >
            {% endif %}

            {% if decision=='Earnings Signals' %} 
            <h3>{{ticker}} : {{decision}} </h3>     
            <img src="\static\data\Ticker\{{ticker}}_o.png" alt="Chart" width=100% >
            <img src="\static\data\Ticker\{{ticker}}.png" alt="Chart" width=100% >
            {% endif %}

            {% if decision=='Earnings Call Signals' %} 
            <h3>{{ticker}} : {{decision}} </h3>     
            <img src="\static\data\Ticker\{{ticker}}.png" alt="Chart" width=100% >
            {% endif %}

            {% if decision=='Analyst Signals' %} 
            <h3>{{ticker}} : {{decision}} </h3>     
            <img src="\static\data\Ticker\{{ticker}}_o.png" alt="Chart" width=100% >
            <img src="\static\data\Ticker\{{ticker}}.png" alt="Chart" width=100% >
            {% endif %}

            {% if decision=='RI Agent Signals' %} 
            <h3>{{ticker}} : {{decision}} </h3>     
            <img src="\static\data\Ticker\{{ticker}}_o.png" alt="Chart" width=100% >
            <img src="\static\data\Ticker\{{ticker}}.png" alt="Chart" width=100% >
            {% endif %}

            {% if decision=='Technical Signals' %} 
            <h3>{{ticker}} : {{decision}} </h3>     
            <img src="\static\data\Ticker\{{ticker}}_o.png" alt="Chart" width=100% >
            <img src="\static\data\Ticker\{{ticker}}.png" alt="Chart" width=100% >
            {% endif %}

            {% if decision=='Blog Signals' %} 
            <h3>{{ticker}} : {{decision}} </h3>     
            <img src="\static\data\Ticker\{{ticker}}_o.png" alt="Chart" width=100% >
            <img src="\static\data\Ticker\{{ticker}}.png" alt="Chart" width=100% >
            {% endif %}

            {% if decision=='Twitter Signals' %} 
            <h3>{{ticker}} : {{decision}} </h3>     
            <img src="\static\data\Ticker\{{ticker}}_o.png" alt="Chart" width=100% >
            <img src="\static\data\Ticker\{{ticker}}.png" alt="Chart" width=100% >
            {% endif %}
               

        {% else %}

            <h3>AAPL : {{decision}} </h3>
            <img src="\static\data\ticker\AAPL_o.png" alt="Chart" width=100% >
            <img src="\static\data\ticker\AAPL.png" alt="Chart" width=100% >
        {% endif %}


         </div>
        {% endfor %}         
         </div>


{% endblock content %}

