{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <h3>Real Estate Earnings Sentiment Signals</h3>
    
    <button type="button" class="btn btn-success">Trade</button>
    
    <div class=container>
       
        <div><li><a href="#section1">Specialized REITs</a></li></div>
        <div><li><a href="#section2">Residential REITs</a></li></div>
        <div><li><a href="#section3">Retail REITs</a></li></div>
        <div><li><a href="#section4">Office REITs</a></li></div>
        <div><li><a href="#section5">Health Care REITs</a></li></div>
        <div><li><a href="#section6">Industrial REITs</a></li></div>
        <div><li><a href="#section7">Hotel & Resort REITs</a></li></div>
        <div><li><a href="#section8">Real Estate Services</a></li></div>
        

        </div>
      

        <div class=container1>

        <div id="section1"><br><br><br>
        <h3>Specialized REITs</h3>
        <img src="static/data/real_estate/Specialized REITs_positve.png" alt="Chart" width=100% >
        <img src="static/data/real_estate/Specialized REITs_negative.png" alt="Chart" width=100% >
        </div>
      
        <div id="section2"><br><br><br>
        <h3>Residential REITs</h3>
        <img src="static/data/real_estate/Residential REITs_positve.png" alt="Chart" width=100% >
        <img src="static/data/real_estate/Residential REITs_negative.png" alt="Chart" width=100%  >
        </div>
   
        <div id="section3"><br><br><br>
        <h3>Retail REITs</h3>
        <img src="static/data/real_estate/Retail REITs_positve.png" alt="Chart" width=100% >
        <img src="static/data/real_estate/Retail REITs_negative.png" alt="Chart" width=100% >
        </div>

        <div id="section4"><br><br><br>
        <h3>Office REITs</he>
        <img src="static/data/real_estate/Office REITs_positve.png" alt="Chart" width=100% >
        <img src="static/data/real_estate/Office REITs_negative.png" alt="Chart" width=100% >
        </div>


        <div id="section5"><br><br><br>
        <h3>Health Care REITs</h3>
        <img src="static/data/real_estate/Health Care REITs_positve.png" alt="Chart" width=100% >
        <img src="static/data/real_estate/Health Care REITs_negative.png" alt="Chart" width=100%  >
        </div>


        <div id="section6"><br><br><br>
        <h3>Industrial REITs</h3>
        <img src="static/data/real_estate/Industrial REITs_positve.png" alt="Chart" width=100% >
        <img src="static/data/real_estate/Industrial REITs_negative.png" alt="Chart" width=100%  >
        </div>

        <div id="section7"><br><br><br>
        <h3>Hotel & Resort REITs</h3>
        <img src="static/data/real_estate/Hotel & Resort REITs_positve.png" alt="Chart" width=100% >
        <img src="static/data/real_estate/Hotel & Resort REITs_negative.png" alt="Chart" width=100% >
        </div>

        <div id="section8"><br><br><br>
        <h3>Real Estate Services</h3>
        <img src="static/data/real_estate/Real Estate Services_positve.png" alt="Chart" width=100%  >
        <img src="static/data/real_estate/Real Estate Services_negative.png" alt="Chart" width=100% >
        </div>

        

    </div>


{% endblock content %}
