{% extends "layout.html" %}
{% block content %}

    <h3>Industrials Earnings Sentiment Signals</h3>
    
    <button type="button" class="btn btn-success">Trade</button>
    
    <div class=container2>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div><a href="#section1">Industrial Machinery</a></div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div><a href="#section2">Aerospace & Defense</a></div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div><a href="#section3">Airlines</a></div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div><a href="#section4">Building Products</a></div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div><a href="#section5">Railroads</a></div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div><a href="#section6">Construction Machinery & Heavy Trucks</a></div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div><a href="#section7">Air Freight & Logistics</a></div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div><a href="#section8">Electrical Components & Equipment</a></div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div><a href="#section9">Research & Consulting Services</a></div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div><a href="#section10">Industrial Conglomerates</a></div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div><a href="#section11">Environmental & Facilities Services</a></div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div><a href="#section12">Diversified Support Services</a></div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div><a href="#section13">Trading Companies & Distributors</a></div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div><a href="#section14">Construction & Engineering</a></div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div><a href="#section15">Trucking</a></div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div><a href="#section16">Agricultural & Farm Machinery</a></div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div><a href="#section17">Human Resource & Employment Services</a></div>
            </div>     

        </div>
        </div>
      

        <div class=container1>
        <div id="section1"><br>
        <h3>Industrial Machinery</h3>
        <img src="static/data/Industrials/Industrial Machinery_positve.png" alt="Chart" width=100% >
        <img src="static/data/Industrials/Industrial Machinery_negative.png" alt="Chart" width=100% >
        </div>
        
      
        <div id="section2"><br><br><br>
        <h3>Aerospace & Defense</h3>
        <img src="static/data/Industrials/Aerospace & Defense_positve.png" alt="Chart" width=100% >
        <img src="static/data/Industrials/Aerospace & Defense_negative.png" alt="Chart" width=100%  >
        </div>
   
        <div id="section3"><br><br><br>
        <h3>Airlines</h3>
        <img src="static/data/Industrials/Airlines_positve.png" alt="Chart" width=100% >
        <img src="static/data/Industrials/Airlines_negative.png" alt="Chart" width=100% >
        </div>

        <div id="section4"><br><br><br>
        <h3>Building Products</he>
        <img src="static/data/Industrials/Building Products_positve.png" alt="Chart" width=100% >
        <img src="static/data/Industrials/Building Products_negative.png" alt="Chart" width=100% >
        </div>


        <div id="section5"><br><br><br>
            
        <h3>Railroads</h3>
        <img src="static/data/Industrials/Railroads_positve.png" alt="Chart" width=100% >
        <img src="static/data/Industrials/Railroads_negative.png" alt="Chart" width=100%  >
        </div>


        <div id="section6"><br><br><br>
            
        <h3>Construction Machinery & Heavy Trucks</h3>
        <img src="static/data/Industrials/Construction Machinery & Heavy Trucks_positve.png" alt="Chart" width=100% >
        <img src="static/data/Industrials/Construction Machinery & Heavy Trucks_negative.png" alt="Chart" width=100%  >
        </div>

        <div id="section7"><br><br><br>
           
        <h3>Air Freight & Logistics</h3>
        <img src="static/data/Industrials/Air Freight & Logistics_positve.png" alt="Chart" width=100% >
        <img src="static/data/Industrials/Air Freight & Logistics_negative.png" alt="Chart" width=100% >
        </div>

        <div id="section8"><br><br><br>
            
        <h3>Electrical Components & Equipment</h3>
        <img src="static/data/Industrials/Electrical Components & Equipment_positve.png" alt="Chart" width=100%  >
        <img src="static/data/Industrials/Electrical Components & Equipment_negative.png" alt="Chart" width=100% >
        </div>

        <div id="section9"><br><br><br>
           
        <h3>Research & Consulting Services</h3>
        <img src="static/data/Industrials/Research & Consulting Services_positve.png" alt="Chart" width=100% >

        <img src="static/data/Industrials/Research & Consulting Services_negative.png" alt="Chart" width=100%  >
        </div>
       

        <div id="section10"><br><br><br>
           
        <h3>Industrial Conglomerates</h3>
        <img src="static/data/Industrials/Industrial Conglomerates_positve.png" alt="Chart" width=100%  >
        <img src="static/data/Industrials/Industrial Conglomerates_negative.png" alt="Chart" width=100%   >
        </div>

        <div id="section11"><br><br><br>
            
        <h3>Environmental & Facilities Services</h3>
        <img src="static/data/Industrials/Environmental & Facilities Services_positve.png" alt="Chart" width=100%  >
        <img src="static/data/Industrials/Environmental & Facilities Services_negative.png" alt="Chart" width=100%  >
        </div>

        <div id="section12"><br><br><br>
            
        <h3>Diversified Support Services</h3>
        <img src="static/data/Industrials/Diversified Support Services_positve.png" alt="Chart" width=100%  >
        <img src="static/data/Industrials/Diversified Support Services_negative.png" alt="Chart" width=100%  >
        </div>

        <div id="section13"><br><br><br>
           
        <h3>Trading Companies & Distributors</h3>
        <img src="static/data/Industrials/Trading Companies & Distributors_positve.png" alt="Chart" width=100%  >
        <img src="static/data/Industrials/Trading Companies & Distributors_negative.png" alt="Chart" width=100%  >
        </div>

        <div id="section14"><br><br><br>
           
        <h3>Construction & Engineering</h3>
        <img src="static/data/Industrials/Construction & Engineering_positve.png" alt="Chart" width=100%  >
        <img src="static/data/Industrials/Construction & Engineering_negative.png" alt="Chart" width=100%  >
        </div>

        <div id="section15"><br><br><br>
           
        <h3>Trucking</h3>
        <img src="static/data/Industrials/Trucking_positve.png" alt="Chart" width=100%  >
        <img src="static/data/Industrials/Trucking_negative.png" alt="Chart" width=100%  >
        </div>

        <div id="section16"><br><br><br>
            
        <h3>Agricultural & Farm Machinery</h3>
        <img src="static/data/Industrials/Agricultural & Farm Machinery_positve.png" alt="Chart" width=100%  >
        <img src="static/data/Industrials/Agricultural & Farm Machinery_negative.png" alt="Chart" width=100%  >
        </div>

        <div id="section17"><br><br><br>
            
        <h3>Human Resource & Employment Services</h3>
        <img src="static/data/Industrials/Human Resource & Employment Services_positve.png" alt="Chart" width=100%  >
        <img src="static/data/Industrials/Human Resource & Employment Services_negative.png" alt="Chart" width=100%  >
        </div>

    </div>

{% endblock content %}