
{% extends "layout.html" %}
{% block content %}
    <!-- <h4>Next Week Machine Learning Trading Signals</h4> -->
    
   <!--  <button type="button" class="btn btn-success">Trade</button><br><br> -->

  
    <div class="col-lg-3 col-sm-6">
      <form class="form-inline" action="{{ url_for('ml7') }}" method="post"> 
        <div class="form-group">
            <select class="form-control" name="ticker">
                {% for symbol in symbols %}
                    <option value="{{ symbol }}">{{ symbol }}</option>
                {% endfor %}
            </select>  
                <button class="btn btn-success">Choose Ticker</button>   
        </div>  
      </form>
    </div> 


    <br>


    
        <div class=container1>
        

        {% if ticker %}  

            <h5>Next Week Deep Learning Trading Signals: {{ticker}}</h5>
            <img src="static/data/ml/7D/{{ticker}}.png" alt="Chart" width=100% >
            <img src="static/data/ml/7DP/{{ticker}}.png" alt="Chart" width=100% >

        {% else %}

            <h5>Next Week Deep Learning Trading Signals: ^GSPC</h5>
            <img src="static/data/ml/7D/^GSPC.png" alt="Chart" width=100% >
            <img src="static/data/ml/7DP/^GSPC.png" alt="Chart" width=100% >
        {% endif %}


         </div>
       


{% endblock content %}

